<h1><%= @user.username %>'s Profile</h1>

<% if @profile.bio == nil %>
  <%= form_for @user.profile do |f| %>
  <%= f.file_field :image %>
   <%= f.text_area :bio, placeholder: "Enter your bio..." %>
   <%= f.submit "Save!" %>
  <% end %>
<% end %>

    <p> Profile picture: <%= image_tag @profile.image.medium.url %></p>
    <p> About me: <%= @profile.bio %></p>



    <% if current_user == @profile.user %>
    <h3>Start a new chat </h3>
    <%= render partial: 'chats/form', locals: {profile: @profile}%>
    <% end %>
  <%= render @profile.chats %>

  <% if @user == current_user %>
  <%= render partial: 'locations/form', locals: {locationable: @profile} %>
  <% end %>

  <%= render partial: 'locations/location', locals: {locationable: @profile} %>
