<%= form_tag chats_list_path, method: 'get' do %>
<p><%= text_field_tag :search, params[:search]%> <%= submit_tag "Search", name: nil%></p>
<% end %>

<% @chats.each do |chat| %>
 <p><%= link_to chat.title, chat_path(chat) %> Created by: <%= chat.user.username %></p>
 <p><%= chat.description %></p>
 <br>
<% end %>
