
  <%= simple_form_for [locationable, Location.new] do |f| %>
    <p><%= f.input :address, label: "Address" %></p>
    <p><%= f.input :suburb, label: "Suburb" %></p>
    <p><%= f.input :state, label: "state" %></p>
    <p><%= f.input :country, label: "country" %></p>
    <p><%= f.input :postcode, label: "postcode" %></p>
    <%= f.button :submit %>
  <% end %>
